body,.nav-container{
    background-color: #171717;
    font-family: sans-serif;

    
}
.sidebar-button{
    background-color: #161616;
    
}


@media only screen and (max-width: 399px){

    .quote-button{

        display: none;

    }
}

.text-gray{
    color:#A0A0A2;
}

.w-96{
    width: 96px;
}
.w-56{
    width: 56px;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project-card:hover{
    background-color: #242424;

}

.container-fluid:hover{

    background-color: #242424;
}

.test{

    padding-bottom: 1000px;
}