body,.nav-container{
    background-color: #171717;
    font-family: sans-serif;

    
}
.sidebar-button{
    background-color: #161616;
    
}


@media only screen and (max-width: 399px){

    .quote-button{

        display: none;

    }
}

@media only screen and (max-width: 1199px){

    .service-images{
        border: none !important; 
    }
}



.text-gray{
    color:#A0A0A2;
}

.w-96{
    width: 96px;
}
.w-56{
    width: 56px;
}

.w-27{
    width: 27px;
}

.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project-card:hover{
    background-color: #242424;

}

.product-section:hover{

    background-color: #242424;
}

.test{

    padding-bottom: 1000px;
}

.border-gray{
    border-color: #2E2E2E !important;
}
.w-167{
    width: 167px;
}
.w-312{
    width: 370px;
    
}
.navbar{
    z-index: 100;
}
.sidebar{
    z-index: 200;
    background-color: #171717;
}
.text-brown{
    color: #312D1C !important;
}

.hover-gray:hover{
    color: #A0A0A2 !important;
    cursor: pointer;
}

.cursor-pointer{
    cursor: pointer; 
}

.fs-7 {
    font-size: 0.8rem !important;
}

